Будем считать, что всего у нас в есть $n$ героев на выбор. Максимальный размер команды $m$; максимальный размер альянса $q$. Будем считать, что сила некоторого $i$-го героя опредяляется за некоторую неотрицательную величину $s_i$. За $x_i$ будем обозначать принадлежность героя выбранной команде --- $x_i = 1$, если $i$-й герой принадлежит набранной команде и $x_i=0$ в противном случае. Тогда условие того, что в команде не более, чем $n$ героев можно записать в виде $\sum_{i=0}^n x_i \leq n$. Тогда в простейшей форме данную задачу можно сформулировать следующим образом:

В **Dota Underlords** для активации бонуса иногда можно собрать не весь альянс, а некоторую его часть - треть или половину. Более, того, могут существовать несколько подобных бонусов, например, один бонус за собранную треть альянса и бонус за собранные две трети альянса. Другим подобным случаем является случай, когда в игре присутствует больше героев в некотором альянсе, чем требуется для активации бонуса. 

Пусть для активации некоторого $k$-го бонуса $j$-го альянса требуется собрать $f_{jk}$ элементов этого альянса. Тогда можно пронумеровать все возможные бонусы от первого до $t_j$-го внутри каждого альянса. Введём индикаторную величину $I_{ijk}$, которая показывает, что для героя i, k-й бонус j-го альянса активирован.  Тогда величина $e_{ijk}$ показывает бонус для i-го элемента, если активирован k-й бонус j-го альянса. Учитывая, что постановка задачи с <<чистыми>> альянсами является частным случаем данной постановки задачи, достаточно записать максимизирующую функцию как $max \sum_{i=0}^{n-1} x_i s_i + \sum_{i=0}^{n-1} \sum_{j=0}^{t-1}  \sum_{k=0}^{q} e_{ijk} I_{ijk} $.


Тогда система уравнений выглядит так: <br>
**Целевая функция:** <br>
&nbsp;&nbsp;$max \sum_{i=0}^{n-1} x_i s_i + \sum_{i=0}^{n-1} \sum_{j=0}^{t-1}  \sum_{k=0}^{q} e_{ijk} I_{ijk} $ <br>
**Ограничения:** 
<br>
&nbsp;&nbsp;$\sum_{i=0}^n x_i \le m $ <br>
&nbsp;&nbsp;$ \forall{j} : \sum_{i=0}^n a_{ij} \le q $  – ограничение на данные, а не на модель <br>

&nbsp;&nbsp;$ \forall{i,j,k} :  \sum_{i'=0}^{n-1} a_{i'j} x_{i'} - k \ge M(  I_{ijk}  - 1) $, чтобы работал $k$-й бонус $j$-го альянса, надо чтобы в команде
было не меньше чем $k$ участиков $j$-го альянса. C помошью данного неравенства мы не даём $I_{jk}$ принимать значение не 0, если $\sum_{i=0}^{n-1} a_{ij} x_{i} < k$, то есть когда в команде не меньше, чем k героев из альянса $j$ <br>

$ \forall{i,j,k} :  I_{ijk}  \le x_i $, the aliance bouns can be only activted if the hero $i$ is in the team <br>
$ \forall{i,j,k} :  I_{ijk}  \le a_{ij} $, the aliance bouns for the hero $i$ and aliance $j$ can be actived only for hero which is in aliance <br>
**Константы:** 
&nbsp;&nbsp;$    n, r, s_i, n, b_{ij}, t_j, e_{ijk}$
<br>
**Управляющие еременные:** <br>
&nbsp;&nbsp;$x_i, I_{ijk} - \{0, 1\},$<br> 
где   $ I_{jk}$ - это индикаторная переменная, которая говорит о том, что включен $k$-й бонус, $j$-го альянса. В свою очередь $f_{jk}$ – константа, обозначающая сколько человек нужно для активации $k$-го бонуса $j$-го альянаса.

10 $e_{i=1,j = 3, k =3}  = 5$ -  %50 бонус при 3-х участника альянса 3 <br>
20 $e_{i=2,j = 3, k =3}  = 41$ - %50 бонус при 3-х участника альянса 3 <br>
8  $e_{i=3,j = 3, k =3}  = 4$  %50 бонус при 3-х участника альянса 3 <br>

# Prepare Syntetic Data #

In [363]:
#!cd ~latna/cplex/python; python ./setup.py install

In [412]:
#n = 7 #всего героев, в тексте работы это p
#m = 3 #размер команды. в тексте работы это m. это же и максимальный размер альянса
#q = m #– максимальный размер альянса. пока пусть он равен максимальному размеру команды
#t = 2 #количество разных альянсов 

n = 21 #всего героев, в тексте работы это p
m = 10 #размер команды. в тексте работы это m. это же и максимальный размер альянса
q = m #– максимальный размер альянса. пока пусть он равен максимальному размеру команды
t = 20 #количество разных альянсов

In [413]:
import random

In [414]:
#generage power of every hero
# s = [abs(random.gauss(40, 15)) for i in range(n)] 
s = [1 for i in range(n)]

In [415]:
 range(q+1)#generate aliance matrix
#if hero i belongs to aliance j, a[i][j] = 1 
a =  { (i,j): 1 if random.random() < 0.5 else 0 for j in range(t) for i in range(n)  }

In [272]:
list(range(q+1) )

[0, 1, 2, 3, 4, 5, 6, 7]

In [416]:
#bonus from aliance 
# e =  [[ [int (abs(random.gauss(20, 7)) ) for k in range(m) ]   for j in range(t)   ] for i in range(n)  ]
e =  [[ [k for k in range(q+1) ]   for j in range(t)   ] for i in range(n)  ]
# e =  [[ [int (random.gauss(100, 50)) for  i in range(n)]   for j in range(t)   ] for  k in range(m)  ]
for i in range(n):
    for j in range(t):
        if (a[i,j] == 0):
            for k in range(q + 1):
                e[i][j][k] = 0

In [418]:
df = pd.DataFrame()
df["hero"] = ["hero_{}".format(i) for i in range(n) ]
df["power"] = s
for j in range(t): 
    df["aliance_{}".format(j)] = [a[i,j] for i in range(n)]

             hero  power
0            tusk      1
1      venomancer      1
2    shadow demon      1
3     drow ranger      1
4     bloodseeker      1
..            ...    ...
58      sand king      5
59           lich      5
60         medusa      5
61  dragon knight      5
62  troll warlord      5

[63 rows x 2 columns]

# Load data from table #

In [413]:
import pandas as pd
df = pd.DataFrame()

In [414]:
fname = "UnderLordsData_2.xlsx"
#load from local file
dd = pd.read_excel(fname, header=None) 

# url = "https://drive.google.com/file/d/11du-iB1TG9senVVM5KJ8xjPDe7fss6bv/view"
# dd = pd.read_csv(url, header=1)

In [415]:
s = dd[1].values

In [416]:
df["hero"] = dd[0]
df["power"] = dd[1]

In [417]:
k_2 = pd.read_excel(fname, sheet_name = 'k = 2')
aliance_dict = {aliance_name.strip():i for i, aliance_name in enumerate(k_2.columns[1:] ) }
aliance_index = pd.Series(k_2.columns[1:].values)

In [418]:
# q = 7
q = 10
m = 10

In [419]:
t = len(aliance_dict)
n = len(df)

In [420]:
a = [ [0]*len(aliance_dict) for i in df["hero"] ]

In [421]:
for i, _s in enumerate( dd[2] ):
    for aliance in _s.split(','):
        a[i][ aliance_dict[aliance.strip()] ] = 1

In [422]:
e =  [ [ [0 for k in range(q+1)] for j in range( len(aliance_dict) ) ] for i in df["hero"] ]

In [423]:
[k for k in range(1,q+1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [424]:
for k in range(1,q+1):
    _df = pd.read_excel(fname, sheet_name = 'k = '+str(k))
    for j, c in enumerate( list(_df)[1:] ):
        for i, value in enumerate(_df[c]):
            e[i][j][k] = value

In [425]:
[k for k in range(q,1, -1)]

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [426]:
for k in range(q,1, -1):
    for j, c in enumerate( list(_df)[1:] ):
        for i, value in enumerate(k_2[c]):
            e[i][j][k] = e[i][j][k] - e[i][j][k-1]

In [427]:
aliance_dict['insect']

13

In [428]:
e[0][13][2]

0.1

# Now we are ready to put our model into CPLEX #

In [429]:
import docplex.mp.model as cpx
import pandas as pd
import sys
opt_model = cpx.Model(name="Dota UnderLoards2")

## Decision Variables##

Decision variables $x_i \in {0,1}$ <br>
$x_i =1,$ if we take hero $i$ to the team <br>
$x_i =0,$ otherwise

In [430]:
x  = {i: opt_model.binary_var(name="x_{}".format(i)) for i in range(n) }

Indicator variables $I_{ijk} \in {0,1}$. In our case it is semi dessision variable.  <br> 
$I_{ijk} = 1$, if the hero $i$ for the aliance $j$ the $k$-th bouns is actived

In [431]:
# I  = { (i, j , k) : opt_model.binary_var(name="I_{}_{}_{}".format(i, j, k)) for i in range(n) for j in range(t) for k in range(q+1) }
I  = { (i, j , k) : opt_model.binary_var(name="I_{}_{}_{}".format(i, j, k)) for i in range(n) for j in range(t) for k in range(1,q+1) }

## Objective Function: ##

**Целевая функция:** <br>
&nbsp;&nbsp;$max \sum_{i=0}^{n-1} x_i s_i + \sum_{i=0}^{n-1} \sum_{j=0}^{t-1}  \sum_{k=0}^{q} e_{ijk} I_{ijk} $ <br>

In [437]:
objective = opt_model.sum(x[i] * s[i] for i in range(n)  ) + opt_model.sum(e[i][j][k] * I[i, j,k] for i in range(n) for j in range(t) for k in range(1,q+1) )
opt_model.maximize(objective)

## Constraints: ##

$\sum_{i=0}^p x_i \le m $ the number heoroes in the team can not be bigger than maximum team size $m$

In [438]:
# == constraints
constraint_eq = opt_model.add_constraint(opt_model.sum(x[i] for i in range(n)) <= m)

Логика такая, чтобы рабатывал $k$-й бонус $j$-го альянса, надо чтобы в команде
было не меньше чем $k$ участиков $j$-го альянса. C помошью данного неравенства мы не даём $I_{jk}$ принимать значение не 0, если $\sum_{i=0}^{n-1} a_{ij} x_{i} < k$, то есть когда в команде не меньше, чем k героев из альянса $j$.


$ \forall{i,j,k} :  \sum_{i'=0}^{n-1} a_{i'j} x_{i'} - k \ge M(  I_{ijk}  - 1) $

In [439]:
# >= constraints
constraints2 = { (i,j,k) : 
opt_model.add_constraint(
# ct = opt_model.sum( a[ii,j] * x[ii] for ii in range(n)) - k  >= 1000000* (I[i,j,k] - 1 ),
ct = opt_model.sum( a[ii][j] * x[ii] for ii in range(n)) - k  >= 1000000* (I[i,j,k] - 1 ),
ctname="constraint2_{}_{}_{}".format(i, j, k) )
    for i in range(n) for j in range(t) for k in range(1,q + 1) }

$ \forall{i,j,k} :  I_{ijk}  \le x_i $ the aliance bouns can be only activted if the hero $i$ is in the team

In [440]:
constraints3 = { (i,j,k) : 
opt_model.add_constraint(
ct =  I[i,j,k]  <= x[i],
ctname="constraint3_{}_{}_{}".format(i, j, k) )
    for i in range(n) for j in range(t) for k in range(1,q + 1) }

$ \forall{i,j,k} :  I_{ijk}  \le a_{ij} $ the aliance bouns for the hero $i$ and aliance $j$ can be actived only for hero which is in aliance

In [441]:
constraints4 = { (i,j,k) : 
opt_model.add_constraint(
# ct =  I[i,j,k]  <= a[i,j],
ct =  I[i,j,k]  <= a[i][j],
ctname="constraint4_{}_{}_{}".format(i, j, k) )
    for i in range(n) for j in range(t) for k in range(1, q + 1) }

## Solve it! ##

In [442]:
# solving with using local cplex
opt_model.solve()

docplex.mp.solution.SolveSolution(obj=61.4,values={x_21:1,x_31:1,x_33:1,..

## Read solution ##

In [443]:
import pandas as pd
opt_df = pd.DataFrame.from_dict(I, orient="index", 
                                columns = ["variable_object"])

# opt_df.index = pd.index(opt_df.index, names=["column_i"])
#opt_df.reset_index(inplace=True)

In [444]:
opt_df["solution_value"] = opt_df["variable_object"].apply(lambda item: item.solution_value)

In [445]:
#opt_df[opt_df.solution_value > 0]

In [446]:
print("Total team power :", opt_model.objective_value )

Total team power : 61.400000000000006

In [447]:
opt_df_x = pd.DataFrame.from_dict(x, orient="index", 
                                columns = ["x_variable"])

In [448]:
opt_df_x["solution_value"] = opt_df_x["x_variable"].apply(lambda item: item.solution_value)
opt_df_x["power"] = s
#opt_df_x

In [449]:
df.iloc[ opt_df_x[ opt_df_x[  "solution_value"]  == 1.0].index]

                hero  power
21     queen of pain      2
31             viper      3
33      ember spirit      3
49        tidehunter      4
52              sven      4
53             slark      4
54  templar assassin      4
57     faceless void      5
60            medusa      5
61     dragon knight      5

### добавим инфу по вкладу героев с альянсами ###

In [450]:
opt_df['xxx']  = opt_df.index

In [451]:
opt_df['contribution'] = opt_df['xxx'].apply(lambda x: e[x[0]][x[1]][x[2] ])

## вытащим инфу по альянсам ##

In [452]:
opt_df.columns

Index(['variable_object', 'solution_value', 'xxx', 'contribution'], dtype='object')

In [453]:
opt_df['xxx']  = opt_df.index
opt_df['hero'] = opt_df['xxx'].map(lambda x: df["hero"].loc[x[0]] )
opt_df['aliance'] = opt_df['xxx'].map(lambda x: aliance_index[x[1]] )
opt_df['bonus_index'] = opt_df['xxx'].map(lambda x: x[2] )
opt_df.drop('xxx', axis=1, inplace=True )

In [454]:
group.apply(lambda x: f"{x['aliance']} {x['bonus_index']}", axis  = 1 )

(56, 2, 1)    brawny 1
(56, 2, 2)    brawny 2
(56, 3, 1)     brute 1
(56, 3, 2)     brute 2
dtype: object

In [455]:
def mm(group):
    y = group.apply(lambda x: f"{x['aliance']} {x['bonus_index']} +{x['contribution']} ", axis  = 1 )            
    return y.to_frame().reset_index(drop=True).T

In [456]:
z = opt_df[opt_df.solution_value > 0].groupby('hero').apply(mm).droplevel(1).fillna("")
z["aliance contrubtion"] = opt_df[opt_df.solution_value > 0].groupby('hero')["contribution"].sum()
tmp_df = df.set_index("hero")
z["hero power"]  = z.apply(lambda x: tmp_df.loc[x.name], axis = 1)
z["sum"] = z["aliance contrubtion"]  + z["hero power"]

In [457]:
z

,0,1,2,3,aliance contrubtion,hero power,sum
hero,,,,,,,
dragon knight,dragon 2 +1.0,human 2 +0.5,knight 2 +1.0,,2.5,5,7.5
ember spirit,assassin 3 +0.9,assassin 6 +0.9,,,1.8,3,4.8
faceless void,assassin 3 +1.5,assassin 6 +1.5,,,3.0,5,8.0
medusa,scaled 2 +1.0,scaled 4 +0.5,,,1.5,5,6.5
queen of pain,assassin 3 +0.6,assassin 6 +0.6,demon 1 +0.4,,1.6,2,3.6
slark,assassin 3 +1.2,assassin 6 +1.2,scaled 2 +0.8,scaled 4 +0.4,3.6,4,7.6
sven,human 2 +0.4,knight 2 +0.8,scaled 2 +0.8,scaled 4 +0.4,2.4,4,6.4
templar assassin,assassin 3 +1.2,assassin 6 +1.2,,,2.4,4,6.4
tidehunter,scaled 2 +0.8,scaled 4 +0.4,,,1.2,4,5.2
viper,assassin 3 +0.9,assassin 6 +0.9,dragon 2 +0.6,,2.4,3,5.4